.divider {
  margin: 0;
  width: 100%;
}

p {
  font-family: Merriweather, sans-serif;
}

/* font-family */
.font-fam {
  font-family: Merriweather, sans-serif;
}

/* NAVIGATION BAR */
/* .navbar-toggler-icon {
  height: 5%;
  width: 5%;
} */
.fore-color:hover {
  color: white;
}

.fore-color {
  color: white;
}

.navbar {
  padding: 3% 15%;
}

.nav-container {
  position: absolute;
  top: 0;
  background: rgba(3, 3, 3, 0.6);
  width: 100%;
  height: 55px;
  padding: 0 20px;
}

.navbar {
  position: absolute;
  margin: 0;
}

.nav-link {
  background: rgba(3, 3, 3, 0.10);
  line-height: 15px;
}

.nav-link:hover {
  border-radius: 8px;
  background-color: red;
}

/*
.navbar-toggler-icon {
  background: rgba(255, 255, 255, 1);
} */
.logo {
  height: 30px;
  width: 30px;
}

/* HOME PAGE */

.home-page {
  width: 100%;
}

.home-page-set {
  background-color: #f5f6f7;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* COMPANY BACKGROUND */
.aboutus {
  position: absolute;
  top: 15%;
  z-index: 1;
  padding: 0 20px;
}

.about-us-header {
  font-size: 3rem;
  color: white;
  padding: 2% 5%;
}

.about-us-paragraph {
  padding: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: white;
}

.about-us-container {
  padding: 1%;
  border-radius: 15px;
  background: rgba(221, 100, 100, 0.4);
}

.about-span {
  color: #fFC7C2;
}

.dragon-strong {
  color: #fFC7C2;
}

.companybackgroud {
  background-color: #f5f6f7;
  /* z-index: 1;  FOR STACKING BOX PRIORITY REQUEIRED POSITION*/
}

.companytitle {
  color: #C2444F;
  font-size: 2rem;
  margin: 20px 0 20px;
  text-align: center;
}

.companyparagraph {
  font-family: Montserrat, sans-serif;
  text-align: justify;
}

.company-image:hover {
  color: maroon;
}

.giphy-embed {
  width: 30%;
  height: 30%;
  margin: auto;
}

/* COMPANY PROJECT */

.carousel-item-text {
  color: white;
  font-size: 20px;
}

.carousel-item-textp {
  color: white;
  font-size: 15px;
}

#company-project .row {
  background: rgba(3, 3, 3, 0.7);
}

.services-title {
  color: #fFC7C2;
  font-size: 2rem;
  margin: 20px 0 20px;
}

#carouselExampleCaptions .caption-textcontent {
  z-index: 1;
  padding-left: 3%;
  padding-top: 3%;
}

/* COMPANY PRODUCT */
#company-product {
  line-height: 40px;
  margin: 40px 40px;
}

.card {
  margin: 0 auto;
}

.we-offer {
  color: #C2444F;
  font-size: 2rem;
  margin: 20px 0 20px;
  text-align: center;
}

.btn-contactus {
  line-height: 20px;
}

.contact-button-red, .contact-button-blue {
  text-decoration: none;
  color: white;
  font-size: 70%;
}

.contact-button-red:hover, .contact-button-blue:hover {
  text-decoration: none;
  color: white;
  font-size: 70%;
}

.contact-button-yellow {
  text-decoration: none;
  color: black;
  font-size: 70%;
}

.contact-button-yellow:hover {
  text-decoration: none;
  color: black;
  font-size: 70%;
}

.contact-image {
  position: relative;
  top: 5px;
  float: left;
  height: 20px;
  width: 20px;
}

/*COMPANY ACCREDITATION*/

.accreditation-img{
  height: 200px;
  width: 200px;
}
.accreditation-space {
  line-height: 20px;
}

.accreditation-text {
  position: relative;
  top: 0;
  left: auto;
  color: #C2444F;
  font-size: 1.5rem;
  text-align: center;
}

/* FOOTER*/
.footing {
  color: white;
  background-color: #C2444F;
  height: 60px;
  text-align: center;
}

.copyright-message{
  position: relative;
  top:20px;
  font-size: .8rem;
}



/* MEDIA 550px */

@media (max-width:550px) {

  /* NAVIGATION BAR */
  .collapse {
    position: absolute;
    top: 57px;
    left: 5%;
    width: 90%;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 1%
  }

  .nav-container {
    position: absolute;
    top: -20px;
  }

  .navbar-toggler {
    position: absolute;
    top: 16px;
    right: 1%;
  }

  .title-head {
    position: absolute;
    font-size: 12px;
    left: 10%;
    top: 28px;
  }

  /* ABOUT US */
  .aboutus {
    position: relative;
  }

  .about-us-header {
    font-size: 3rem;
    color: black;
    padding: 2% 5%;
  }

  .about-us-paragraph {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    text-align: left;
    color: black;
  }

  .about-us-container {
    padding: 1%;
    background: white;
    border-radius: 0px;
  }

  .about-span {
    color: #C2444F;
  }

  .dragon-strong {
    color: #C2444F;
  }

  /* CAROUSEL */
  .font-fam {
    font-family: Merriweather, sans-serif;
    font-size: 1rem;
  }

  #carouselExampleCaptions .caption-textcontent {
    color: black;
    z-index: 1;
    padding-left: 3%;
  }

  /* PRODUCT */
  #company-product{
    line-height: 20px;
    margin: 20px 20px;
  }
}

/*ACCREDITATION*/

.accreditation-img{
  height: 100%;
  width: 100%;
}


/* MEDIA 551 - 1200px */



@media (min-width:551px) and (max-width:991px) {

  /* NAVIGATION BAR */


  .collapse {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
  }

  .logo {
    position: absolute;
    top: 10px;
    left: 1%
  }

  .nav-container {
    position: absolute;
    top: 0px;
  }

  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 1%;
  }

  .title-head {
    position: absolute;
    font-size: 1rem;
    left: 5%;
    top: 15px;
  }

  /* ABOUT US */
  .aboutus {
    position: relative;
  }

  .about-us-header {
    font-size: 5rem;
    color: black;
    padding: 2% 3%;

  }

  .about-us-paragraph {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    text-align: left;
    color: black;
  }

  .about-us-container {
    padding: 1%;
    background: white;
    border-radius: 0px;
  }

  .about-span {
    color: #C2444F;
  }

  .dragon-strong {
    color: #C2444F;
  }

  /* CAROUSEL */
  .font-fam {
    font-family: Merriweather, sans-serif;
    font-size: 1rem;
  }

  #carouselExampleCaptions .caption-textcontent {
    color: black;
    z-index: 1;
    padding-left: 3%;
  }

  /* PRODUCT */
  #company-product{
    line-height: 20px;
    margin: 20px 20px;
  }
}

/*ACCREDITATION*/

.accreditation-img{
  height: 100%;
  width: 100%;
}
