hr {
  margin: 0;
}

p {
  font-family: Merriweather, sans-serif;
}

/* font-family */
.font-fam {
  font-family: Merriweather, sans-serif;
}

/* NAVIGATION BAR */
/* .navbar-toggler-icon {
  height: 5%;
  width: 5%;
} */
.fore-color:hover {
  color: white;
}

.fore-color {
  color: white;
}

.navbar {
  padding: 3% 15%;
}

.nav-container {
  position: absolute;
  top: 0;
  background: rgba(3, 3, 3, 0.6);
  width: 100%;
  height: 55px;
  padding: 0 20px;
}

.navbar {
  position: absolute;
  margin: 0;
}

.nav-link {
  background: rgba(3, 3, 3, 0.10);
  line-height: 15px;
}

.nav-link:hover {
  border-radius: 8px;
  background-color: red;
}

/*
.navbar-toggler-icon {
  background: rgba(255, 255, 255, 1);
} */
.logo {
  height: 30px;
  width: 30px;
}

/* HOME PAGE */
.home-page {
  width: 100%;
}

.home-page-set {
  background-color: #f5f6f7;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* COMPANY BACKGROUND */
.aboutus {
  position: absolute;
  top: 15%;
  z-index: 1;
  padding: 0 20px;
}

.about-us-header {
  font-size: 3rem;
  color: white;
  padding: 2% 5%;
}

.about-us-paragraph {
  padding: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: white;
}

.about-us-container {
  padding: 1%;
  border-radius: 15px;
  background: rgba(221, 100, 100, 0.4);
}

.about-span {
  color: #fFC7C2;
}

.dragon-strong {
  color: #fFC7C2;
}

.companybackgroud {
  /* position: absolute; */
  background-color: #f5f6f7;
  /* z-index: 1;  FOR STACKING BOX PRIORITY REQUEIRED POSITION*/
}

.companytitle {
  color: #C2444F;
  font-size: 2rem;
  margin: 20px 0 20px;
  text-align: center;
}

.companyparagraph {
  font-family: Montserrat, sans-serif;
  text-align: justify;
}

.company-image:hover {
  color: maroon;
}

.giphy-embed {
  width: 30%;
  height: 30%;
  margin: auto;
}

/* COMPANY PROJECT */
.companyproject {
  margin-top: 10px;
}

.carousel-item-text {
  color: white;
  font-size: 20px;
}

.carousel-item-textp {
  color: white;
  font-size: 15px;
}

#company-project .row {
  background: rgba(3, 3, 3, 0.7);
}

.services-title {
  color: #fFC7C2;
  font-size: 2rem;
  margin: 20px 0 20px;
}


#carouselExampleCaptions .caption-textcontent {
  z-index: 1;
  padding-left: 3%;
  padding-top: 3%;
}



/* COMPANY PRODUCT */
#company-product{
  line-height: 40px;
  margin: 40px 40px;
}

.card{
  margin: 0 auto;
}

.we-offer{
  color: #C2444F;
  font-size: 2rem;
  margin: 20px 0 20px;
  text-align: center;
}

.btn-contactus{
  line-height: 20px;
}
@media (max-width:700px) {

  /* NAVIGATION BAR */
  .collapse {
    position: absolute;
    top: 57px;
    left: 5%;
    width: 90%;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 1%
  }

  .nav-container {
    position: absolute;
    top: -20px;
  }

  .navbar-toggler {
    position: absolute;
    top: 16px;
    right: 1%;
  }

  .title-head {
    position: absolute;
    font-size: 12px;
    left: 10%;
    top: 28px;
  }

  /* ABOUT US */
  .aboutus {
    position: relative;
  }

  .about-us-header {
    font-size: 3rem;
    color: black;
    padding: 2% 5%;
  }

  .about-us-paragraph {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    text-align: left;
    color: black;
  }

  .about-us-container {
    padding: 1%;
    background: white;
    border-radius: 0px;
  }

  .about-span {
    color: #C2444F;
  }

  .dragon-strong {
    color: #C2444F;
  }

  /* CAROUSEL */
  .font-fam {
    font-family: Merriweather, sans-serif;
    font-size: 1rem;
  }

  #carouselExampleCaptions .caption-textcontent {
    color: black;
    z-index: 1;
    padding-left: 3%;
  }
}
